html {
	scroll-behavior: smooth;
}
html: :-webkit-scrollbar {
	display: none;
}
body {
	font-family: 'Lato', sans-serif;
	box-sizing: border-box;

}


section {
	height: 90vh;
	font-family: 'initial;', sans-serif;
}

.custom-col {
	margin-top: 20%;
}

.spacing {
	margin-top: 8%;
}

